@use '../mixsinc/mixins.scss';
.ant-modal {
    @include mixins.caja(350px, '', 90%, '', '', '');
    .ant-modal-content {
        background-color: #000 !important;
    
        .reproductor-trailer {
            @include mixins.caja(350px, 400px, '', '', '', '');
            @include mixins.caja(1600px, 600px, '', '', '', '');
            margin-top: 2rem;
        }
    
        .ant-modal-close-icon {
            font-size: 1.5rem;
            color: #fff;
        }
    }
}

.contentBack{
    top: 0px;
    left: 0;
    width: 100%;
    background-color: #000000ab;
    position: absolute;
    height: 520px;
    @media (min-width:350px) and (max-width:851px) {
        background-size: 100% 840px !important;
        height: 840px !important;

    }

    @media (min-width: 1601px) {
        background-size: 100% 620px !important;
        height: 620px !important;
    }

}
.content-background-image {
    background-size: 100% 520px !important;
    background-repeat: no-repeat !important;
    top: 64px;
    left: 0;
    width: 100%;
    position: absolute;
    height: 520px;

    @media (min-width:350px) and (max-width:851px) {
        background-size: 100% 840px !important;
        height: 840px !important;

    }

    @media (min-width: 1601px) {
        background-size: 100% 620px !important;
        height: 620px !important;
    }

    .background-dark {
        position: absolute;
        width: 100%;
    }
}

.Col-Info-Image {
    @include mixins.alto-ancho-margin(400px, 380px, 0 3rem);
    @include mixins.alto-ancho-responsive(851px, 450px, 300px);
    @include mixins.alto-ancho-responsive(1601px, 570px, 400px);
}

.Col-Info-Movie {
    font-size: 1rem;
    @include mixins.caja(350px, '', '', 0 0 1rem, '', '');
    @include mixins.caja(851px, '', 50%, '', '', '');
    @include mixins.alto-ancho-responsive(1201px, '', 60%);
    @include mixins.alto-ancho-responsive(1601px, '', '');
    color: #fff !important;

    &-Button {
        margin-top: 1rem;

    }
    &-Year{
        font-size: 1rem
    }
    &-Card {
        @include mixins.alto-ancho-margin(500px, 300px, 20px 0 0 20px);
    }

    &-Image {
        border-radius: 8px !important;
        height: 500px;
    }

    &-Title {
        font-weight: bold;
        font-size: 2rem;
        @include mixins.font-size(1601px, 3rem);
    }

    &-Description {
        margin-top: 0.8rem;
        text-align: justify;
        @include mixins.font-size(1601px, 1.4rem);

    }

    &-Vote {
        @include mixins.display-flex('center');
        @include mixins.font-size(1601px, 1.5rem);
        color: #ffcb0f;
    }

    &-Tagline {
        color: #aaa;
        @include mixins.font-size(1601px, 1.5rem);
    }

}


.MovieId {
    z-index: 1000;
    padding: 25px 2% 0;
    margin: auto;
    min-height: 100vh;

    .ant-row {
        background-size: 100% 100%;
    }
}