@use '../mixsinc/mixins.scss';

.SiderNav {
   width: 95%;
}

.ant-layout-footer {
   margin-top: 50px !important;
   background: #001529 !important;
}

.ant-layout {
   background: #000d1a !important;

}

.ant-layout-sider {
   @include mixins.caja(250px, '', '', '', '', none);

   @media (min-width:1200px) {
      width: 320px !important;
      min-width: 320px !important;
      display: flex !important;
   }

   @media (min-width:1400px) {
      width: 350px !important;
      min-width: 350px !important;

   }
   @media (min-width:1600px) {
      width: 400px !important;
      min-width: 400px !important;

   }

   &-children {
      box-sizing: initial !important;
      background: #000d1a !important;
   }
}


.ContentMain {
   margin: auto;
   width: 90%;
}

.ContentListAndMovies {
   width: 95%;
   margin: auto;
   min-height: 100vh;
}


.ant-pagination-options {
   display: none !important;
}