@use '../mixsinc/mixins.scss';

.Row_Cards_Horizontal {
    display: flex;
    flex-direction: column;

}

.CardsHorizontal {
    border-radius: 0;
    @include mixins.caja(350px, 90px, 250px, '', '', '');
    @include mixins.caja(750px, 90px, 320px, '', '', '');
    @include mixins.caja(1400px, 95px, 320px, '', '', '');
    @include mixins.caja(1600px, 100px, 350px, '', '', '');

    border: 0;

    &_Images {
        height: 125px;
        width: 100%;
    }

    &_Ver {
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }

    &_Body {
        padding-left: 10px;
        padding-top: 1px;

        &_Title {
            @include mixins.texto(350px, 1rem, '', #fff);
            @include mixins.texto(1200px, 1.2rem, '', #fff);
            @include mixins.texto(1600px, 1.5rem, '', #fff);
            opacity: 0;
            position: absolute;
            left: 0;
            transition-property: opacity padding;
            transition-duration: 0.5s;
        }

        &_Year {
            color: #aaa;
            opacity: 0;
            left: 0;
            position: absolute;
            margin-top: 30px;
            transition-property: opacity padding;
            transition-duration: 0.5s;
            color: #fff;
            padding-top: 0px;
        }

        &_Vote {
            bottom: 0;
            right: 0;
            position: absolute;
            opacity: 0;
            font-size: 1.2rem;
            transition-property: opacity padding;
            transition-duration: 0.5s;
            @include mixins.display-flex(end);
            color: #ffcb0f;
        }



    }

    &:hover .CardsHorizontal_Ver {
        background-color: #0000007a;
    }

    &:hover .CardsHorizontal_Body_Vote {

        padding-right: 10px;
        opacity: 1 !important;
    }

    &:hover .CardsHorizontal_Body_Title {
        left: 20px;
        opacity: 1 !important;
    }

    &:hover .CardsHorizontal_Body_Year {
        left: 20px;
        opacity: 1 !important;
    }

}