@use '../mixsinc/mixins.scss';

.MenuBurger {
    @include mixins.display-none('1101px', '3000px');

    &:hover {
        cursor: pointer;
    }
}

.ant-drawer {
    &-content-wrapper{
        @include mixins.caja(750px, '', 350px,'', '', '');

    }
  
    @include mixins.display-none('1201px', '3000px');
    &-header{
        padding: 5px 10px !important;
    }
    &-body {
        padding: 0 !important;
        background-color: #001529 !important
    }
}

header {
    height: 60px;
    @include mixins.display-flex(space-between);

    .Title_Header {
        color: white;
        font-weight: bold;
        font-size: 2rem;

    }

    .Search {
        width: 300px;
        @include mixins.display-none('350px', '1100px');
    }

    .ant-menu-overflow {
        @include mixins.display-none('350px', '1100px');
        width: 500px;
        height: 100% !important;
        @include mixins.display-flex(space-between);

        &-item {
            color: #aaa;
            border-radius: 0 !important;
            height: 100%;
            width: 120px;
            @include mixins.display-flex(center);

        }

        .ant-menu-item {
            &-icon {
                padding-bottom: 10px !important;
                font-size: 1rem !important;
                gap: 10px;
                @include mixins.display-flex(center);
                flex-direction: column;
            }

            &-active {
                border-bottom: 3px solid #fff;
            }

            &-selected {
                color: #fff !important;
                border-bottom: 3px solid #fff;
            }
        }

        .ant-menu-submenu {
            padding-top: 5px;

            &-selected {
                color: #fff !important;
                border-bottom: 3px solid #fff;
                padding-bottom: 3px;
                padding-top: 4px;
            }

            &-active {
                padding-bottom: 3px;
                border-bottom: 3px solid #fff !important;
                padding-top: 4px;
            }

            &-title {
                padding-bottom: 6px !important;
                height: 100% !important;

            }
        }
    }


}

.ant-menu-submenu {
    .ant-menu {
        &-item {
            &-icon {
                display: flex;
                gap: 10px;
            }
        }
    }
}