@use '../mixsinc/mixins.scss';

.ant-pagination {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &-item {
        a {
            font-size: 2rem;
            color: #fff !important;
        }

    }

    &-item-active {
        border: 0 !important;
        border-radius: 0 !important;
        height: 40px !important;
        padding: 0 5px !important;

        a {
            @include mixins.pagination(2rem, 3px 0 0 0, #000);
        }

    }

    &-prev {
        .anticon {
            @include mixins.pagination(1.8rem, 5px 0 0 0, #fff);
        }
    }

    &-next {
        .anticon {
            @include mixins.pagination(1.8rem, 5px 0 0 0, #fff);
        }

    }


    &-jump-prev {
        .ant-pagination-item-ellipsis {
            @include mixins.pagination('', 4px 0 0 0, #fff);
        }

        .anticon {
            @include mixins.pagination(1.4rem, 8px 0 0 0, #fff);
        }
    }

    &-jump-next {
        .ant-pagination-item-ellipsis {
            @include mixins.pagination('', 4px 0 0 0, #fff);
        }

        .anticon {
            @include mixins.pagination(1.4rem, 8px 0 0 0, #fff);
        }


    }
}